
/*------------------------------sidebar menu*/

.text-dark-2 {
    color: #0d0d0d;
}

#sidebar a {
    font-weight: 400;
    /*color: #000;*/
}

.text-purple {
    color: #877ef3;
    font-size: 15px;
}

.-hoverBlue:hover, .-hoverBlue:focus {
    color: #5499fa !important;
    border-bottom: 1px solid #5499fa;
}

.-hoverBlue:visited {
    color: #2271fa;
}


/*------------------------------main content : simple gallery*/
.simpleGallery__image {
    max-width: 100%;
    height: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.imgContainer {
    border-radius: 10px;
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

.-hoverShowBox {
    top: 0;
    width: 100%;
    right: 0;
    height: 100%;
    position: absolute;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 1;
}

.-hoverShowBox h6,
.-hoverShowBox h4{
    display: block;
    color: #fff !important;
    opacity: 0;
}
.-hoverShowBox,
.-hoverShowBox h6,
.-hoverShowBox h4,
.imgContainer:hover .-hoverShowBox .video-play-icon i{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.imgContainer:hover .-hoverShowBox .video-play-icon i{
    opacity: .9;
}
.-hoverShowBox.black {
    background: #00000044;
}
.imgContainer:hover .-hoverShowBox.black {
    background: #000000aa;
    color: #fff;
}
.imgContainer:hover .-hoverShowBox.purple {
    background: #877ef3cc;
    color: #fff;
}
.imgContainer:hover .-hoverShowBox h6,
.imgContainer:hover .-hoverShowBox h4{
    opacity: 1;
}