body {
    font-weight: 400;
    line-height: 2;
    font-size: 14px;
}

/*------------------------------main content : simple light box*/
.sl-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.sl-prev, .sl-next {
    direction: ltr;
    color: #fff !important;
}

.sl-counter, .sl-close {
    color: #fff !important;
}

/*-------------------------- navbar*/
.navbar > li > a {
    padding: 11px 15px;
    color: #fff !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #85c296 !important;
}

