body {
    font-weight: 400;
    line-height: 2;
    font-size: 14px;
}

.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*------------------------------main content : simple light box*/
.sl-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.sl-prev, .sl-next {
    direction: ltr;
    color: #fff !important;
}

.sl-counter, .sl-close {
    color: #fff !important;
}

/*-------------------------- navbar*/
.navbar > li > a {
    padding: 11px 15px;
    color: #fff !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #85c296 !important;
}

/*--------------------------- main*/
.content {
    padding-top: 70px;
}

/*--------------------------- content header*/
.content-header {
    display: flex;
    background: #877ef3;
    padding: 20px 30px;
    align-items: center;
}

.content-header__image {
    width: 60px;
    height: 60px;
}

.titles {
    color: #fff;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-right: 1rem;
}

.content-header__subTitle, .content-header__title {
    font-size: 20px;
    margin: 0;
}

.content-header__subTitle {
    font-weight: 200;
}
