@media screen and (max-width: 1199.98px) {
    /*#region footer*/
    .bottom-section .info-container {
        padding-top: 76px;

    }

    /*#endregion*/
}

@media screen and (max-width: 991.98px) {
    /*#region insurance*/
    .online-services--header--mobile,
    .insurance--header--mobile {
        display: flex;
        align-items: center;
    }
    .online-services--header--mobile{
        margin-bottom: 3rem;
    }
    .online-services-container{
        padding-top: 0;
    }

    .insurance-box .insurance-item {
        width: 33.333%;
    }

    /*#endregion*/
    /*#region news-slider*/
    .new-articles .news-carousel {
        margin-top: 0;
        padding-top: 1rem;
    }

    /*endregion*/
    /*region footer*/
    .bottom-section .form-container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .bottom-section .form-container .captcha input {
        margin-right: 85px;
        float: left;
        width: 150px;
    }

    .bottom-section .info-container {
        border-right: none;
        width: 100%;
        padding-right: 0;
    }

    .addressContainer {
        display: flex;
        align-items: center;
    }

    .footer-block:first-of-type .footer-sub-block .menu-part {
        width: 24.999%;
    }

    /*#endregion*/
    /*#region gallery*/
    .gallery .gallery-sidebar-menu {
        display: none;
    }

    .sideMenuIcon {
        z-index: 2;
        float: left;
        background: transparent;
    }

    .sideMenuIcon:after {
        content: '\2807';
        font-size: 2em;
        color: #fff;
        display: inline-block;
        margin-bottom: -10px;
    }

    section.gallery {
        margin-bottom: 5rem;
    }

    #myModal ul li ul {
        padding-right: 10px;
    }

    #myModal ul li a {
        display: block;
        padding: 10px 5px;
    }

    #myModal ul li a:hover, #myModal ul li a:focus {
        color: #fff;
    }

    #myModal ul li ul li a {
        display: block;
        padding: 5px;
    }

    #myModal ul li ul li a:hover, #myModal ul li ul li a:focus {
        color: #877ef3;
    }

    #myModal .modal-header {
        position: relative;
    }

    #myModal .modal-header .close {
        left: 15px;
        position: absolute;
        top: 40%;
    }

    /*#endregion*/
    /*#region contact us*/
    .contactUs__container {
        padding: 2rem 0 !important;
    }

    /*#endregion*/
    /*#region register/login/forgot password*/
    .social-accounts-container {
        padding: 0 !important;
    }

    .register-form {
        background: #fff;
        padding: 20px 0 !important;
    }

    .register .register-form-container {
        padding: 0;
    }

    .register .vertical-separator-line {
        border: none;

    }

    .social-accounts a {
        line-height: 45px;
        padding: 15px !important;
    }

    .social-accounts img {
        left: 0 !important;
        top: 20px !important;
        transform: scale(0.6);
    }

    .register-form-container form {
        border-bottom: 1px solid #85c296;
        padding-bottom: 4rem;
        margin-bottom: 4rem;

    }

    .register.forgotPassword .register-form-container form {
        border-bottom: 1px solid #e82d2d;

    }

    .register.login .register-form-container form {
        border-bottom: 1px solid #3f8dfa;

    }

    .register-form-container form::after, .register-form-container form::before {
        display: table;
        content: '';
        clear: both;
    }

    /*#endregion*/
    /*#region news and articles*/
    .news-show .content-header {
        display: block;
    }

    .content-header--titlesContainer {
        display: flex;
        align-items: center;
    }

    .news-show .card {
        padding: 15px;
    }

    .news-show .newsShow {
        padding: 15px;
        margin-bottom: 1.5rem;
    }

    .content-header__subTitle, .content-header__title {
        font-size: 18px;
    }

    .content-header__image {
        width: 40px;
        height: 40px;
    }

    .news-show .newsShow__title, .news-show .card-title {
        font-size: 16px;
    }

    .online-services .online-services-icon,
    .insurance .umbrella-icon,
    .new-articles .news-icon {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    .inline-title {
        line-height: normal;
    }

    /*#endregion*/
    /*#region doctors*/
    .doctors .content-header img {
        display: none;
    }

    .doctors .panel-title__takeTurn {
        margin: 2rem auto;
    }

    .doctors .panel-title__more {
        opacity: 1;
    }

    .doctors .panel-title__doctorAvatar {
        float: none;
        width: 76px;
        height: 76px;
        margin-left: 0;
    }

    .doctors .panel-title__doctorAvatar img.panel-title__doctorAvatar-default {
        width: 50px;
        height: 50px;
        margin: 13px;
    }

    .doctors .panel-default > .panel-heading {
        text-align: center;
    }

    /*#endregion*/
    /*region navbar*/
    header {
        padding: 0;
    }

    .navbar-default .navbar-toggler {
        color: #fff;
        border-color: transparent;
        padding: 0;
        float: left;
        background: transparent;
        margin: 0;
    }

    .navbar-toggler-lines:first-child {
        margin-top: 6px;
    }

    .navbar-toggler-lines {
        display: block;
        width: 35px;
        height: 4px;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 5px;
    }

    .navbar-brand {
        height: auto;
        margin-top: 8px;
        padding: 0;
        line-height: normal;
    }

    .navbar-brand h1 {
        font-size: 17px;
        color: #fff;
        margin: auto 0 !important;
    }

    .navbar {
        margin: 0;
        padding: 5px 0;
    }

    .navbar-default {
        background-color: #3f8dfa;
        border-color: #316bfa;
    }

    .navbar-default > .container, .navbar-default > .navbar-container {
        display: none;
    }

    /*#endregion*/
    /*#region static pages*/
    .staticPages #staticPageSidebar {
        display: none;
    }

    .staticPages .content-header__image {
        display: none;
    }

    .gallery.staticPages .gallery__imageContainer {
        margin-bottom: 1.5rem !important;
    }

    /*#endregion*/
    .content-header {
        padding: 20px 10px !important;
        margin-bottom: 15px;
    }

    .content {
        padding-top: 55px
    }

    section.gallery-bg,
    section.texture-bg {
        padding: 20px 0;
    }


    #sidebarCollapse {
        display: block;
    }

    section .section-title {
        font-size: 21px;
    }

    section .title-description {
        margin: 0;
        margin-right: 5px;
        font-size: 17px;
    }
    .content #staticPageSidebar{
        display: none;
    }
    .securityCode__input{
        width: auto;
    }
}

@media screen and (max-width: 767.98px) {
    .news-show.gallery .gallery__imageContainer {
        width: auto;
        height: auto;
    }
    .gallery .gallery__imageContainer {
        width: 33%;
        height: 243px;
    }
    .nicescroll{
        overflow-y: auto;
    }
    /*#region insurance*/
    .insurance-btn-box ul > li {
        width: 45%;
        float: right;
    }

    .insurance-btn-box ul > li:first-of-type {
        margin-left: 9.99%;
    }

    .online-services--header--desktop,
    .insurance .insurance--header--desktop {
        display: none;
    }

    .insurance .insurance-btn-box {
        margin-top: 13px;
        margin-bottom: 13px;
        margin-right: 18px;
        margin-left: 18px;
        position: relative;
        padding-left: 0;
        padding-right: 0;
    }

    .insurance .insurance-box {
        padding: 0;
    }

    .insurance .insurance-box .insurance-item {
        width: 100%;
        height: auto;
    }

    .insurance .insurance-box .insurance-item:last-child .insurance-item-inner {
        margin-bottom: 40px;
    }

    .insurance .insurance-box .insurance-item-inner {
        padding: 0px 15px;
    }

    .insurance .tab-pane {
        height: 100vh;
        overflow-y: scroll;
        padding: 0;
    }

    .insurance .tab-pane::after, .tab-pane::before {
        clear: both;
        display: table;
        content: '';
    }

    /*.insurance .tab-content.insurance-box {*/
    /*position: relative;*/
    /*width: 85%;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*padding-right: 0;*/
    /*padding-left: 1rem;*/
    /*}*/
    .insurance .insurance-box .scrollButton {
        position: absolute;
        bottom: 0;
        left: 5px;
        right: 5px;
        display: block;
        background: linear-gradient(transparent, #c9c7c2);
        color: #1d2124;
    }

    .insurance .insurance-box .scrollButton a {
        display: block;
        padding: 10px 0;

    }

    .insurance .insurance-box .scrollButton a i {
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-direction: alternate;

        -webkit-animation-name: vertical-move;
        -moz-animation-name: vertical-move;
        -o-animation-name: vertical-move;
        animation-name: vertical-move;
        animation-duration: 1s;
    }

    @keyframes vertical-move {
        0% {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }

        100% {
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            -ms-transform: translateY(10px);
            -o-transform: translateY(10px);
            transform: translateY(10px);
        }
    }
    /*#endregion*/
    /*#region footer*/
    .footer-block:first-of-type .footer-sub-block .menu-part {
        width: 100% !important;
    }

    .copyright .pull-right {
        float: left !important;
    }

    /*#endregion*/
    .innerPages main {
        padding-top: 55px;
    }

    .innerPages .content {
        padding-top: 5px;
    }

    .innerPages .content > section {
        margin-top: 0 !important;
    }

    .innerPages .content > section > .container {
        max-width: 100%;
        padding: 0;
        overflow: hidden;
    }

    .content-body {
        padding: 0 1.5em;
    }

    .register-form,
    .register-form .bg-white {
        background-color: transparent;
    }

    .social-accounts {
        background-color: #fff;
    }

    .bottom-section .form-container .captcha input {
        width: auto !important;
    }

    .content-header {
        padding: 10px !important;
        margin: 0 !important;
        min-height: 60px;
        border-radius: 0 !important;
    }

    .scroll section:not(.dashboard) .content-header{
        position: fixed;
        left: 0;
        right: 0;
        z-index: 10;
        top: 60px;
    }

    .scroll.stop section:not(.dashboard) .content-header{
        position: absolute;
    }

    .news-show .card{
        margin-top: 30px;
    }
    .news .list-view{
        margin-top: 30px;
    }
    .sideMenuIcon {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
    .register .vertical-separator-line{
        min-height: 0;
    }
    .gallery-tabs .nav-tabs{
        margin-top:30px;
    }
}

@media screen and (max-width: 575.98px) {
    .gallery-list-box{
        margin-bottom: 30px;
    }
    .dashboard__form--btn{
        width: 100%;
    }
    /*#region insurance*/
    .insurance-btn-box ul > li a span {
        font-size: 17px;
    }

    /*#endregion*/
    /*#region footer*/
    .bottom-section .form-container .captcha input {
        margin-right: 0 !important;
        float: left;
    }

    .new-articles .statics-row > span {
        width: 30.33333%;
    }

    /*#endregion*/
    /*#region contact us*/
    .contactUsPage .submitBtn {
        width: 100%;
        float: none;
        margin-top: 10px;
    }

    /*#endregion*/
    /*#region register-login-forgot password*/
    .submitBtn {
        float: none !important;
        display: block !important;
        width: 100% !important;
        margin-top: 15px;

    }

    .securityCode__input {
        float: left;
        margin-left: 0;
    }

    /*#endregion*/
    /*#region news and articles*/
    .statics-row > span {
        width: 30.33333%;
    }

    /*#endregion*/
    /*#region gallery*/
    .gallery .gallery__imageContainer {
        width: 49%;
        height: 280px;
    }

    .gallery.staticPages .gallery__imageContainer {
        width: 100%;
        height: auto;
    }

    /*#endregion*/

}

@media screen and (max-width: 400px) {
    /*#region footer*/
    .addressContainer i {
        width: 64px !important;
    }

    /*#endregion*/
    /*#region gallery*/
    .gallery .gallery__imageContainer {
        width: 100%;
        height: 280px;
    }

    .news-show.gallery .gallery__imageContainer {
        width: auto;
        height: auto;
    }

    .gallery.staticPages .gallery__imageContainer {
        width: 100%;
        height: auto;
    }

    /*#endregion*/

}

@media screen and (min-width: 1200px) {
    .navbar > li > a {
        padding: 11px 15px;
    }

    /*#region register/login/forgot password*/
    .register-form-container {
        padding: 0px 23px 0 52px;
    }

    /*#endregion*/
}

@media screen and (min-width: 992px) {
    /*#region insurance*/
    .online-services--header--mobile,
    .insurance--header--mobile {
        display: none;
    }

    /*#endregion*/
    /*#region footer*/
    .bottom-section .form-container {
        padding-left: 70px;
        padding-right: 15px;
    }

    /*#endregion*/
    /*#region gallery*/
    .sideMenuIcon {
        display: none;
    }

    .gallery-sidebar-menu ul li ul {
        padding-right: 10px;
    }

    .gallery-sidebar-menu ul li ul li {
        padding: 10px 0;
    }

    .gallery-sidebar-menu ul li ul li:hover > a, .gallery-sidebar-menu ul li ul li:focus > a {
        color: #877ef3;
    }

    /*#endregion*/
    /*#region register/login/forgot password*/
    .vertical-separator-line {
        border-left: 2px solid #85c296;
        min-height: 320px;
    }

    /*#endregion*/
    /*#region news and articles*/
    .newsSearchBox {
        width: 400px;
    }

    .news-show .newsShow {
        margin-bottom: 1.5rem;
    }

    .content-header--titlesContainer {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    .news .statics-row > span {
        width: 30.33333%;
    }

    /*#endregion*/
    /*#region doctors*/
    .doctors .content-header img {
        display: inline;
    }

    /*#endregion*/
    /*#region navbar*/
    .navbar-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: inline-block;
    }

    .navbar {
        float: right;
        margin: 0;
        border: none;
        position: static !important;
        min-height: 0;
    }

    .navbar-default > .container-fluid {
        display: none;
    }

    /*#endregion*/
    /*#region static pages*/
    .staticPages #myModal {
        display: none;
    }

    /*#endregion*/
    #sidebarCollapse {
        display: none;
    }

    .bg-white {
        background: #fff;
    }

}

@media screen and (min-width: 768px) {
    /*#region insurance*/
    .scrollButton {
        display: none;
    }
    .online-services--header--mobile,
    .insurance--header--mobile {
        display: none;
    }

    /*#endregion*/
    /*#region footer*/
    .footer-section .footer-block:nth-child(3) {
        min-height: 283px;
    }

    .bottom-section .info-container {
        padding-top: 39px;
    }

    .certificate-block h3 {
        width: 100%;
    }

    /*#endregion*/
    /*#region news and articles*/
    .statics-row > span {
        width: 33.33333%;
    }

    /*#endregion*/
    /*#region doctors*/
    .doctors .panel-heading .row {
        display: flex;
        align-items: center;
    }

    /*#endregion*/
    .d-md-block {
        display: block;
    }

    .d-md-none {
        display: none;
    }

    .bg-md-white {
        background: #fff;
    }

    .bg-md-transparent {
        background: transparent;
    }

}

@media screen and (min-width: 576px) {
    /*#region captcha*/
    .field-user-verifycode, .field-loginform-verifycode {
        display: inline-block !important;
    }

    /*#endregion*/
    /*#region gallery*/

    .gallery.staticPages .gallery__imageContainer {
        width: 100%;
        height: auto;
    }

    /*#endregion*/

}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    /*#region register/login/forgot password*/
    .securityCode__input {
        width: 100px;
        margin: 0;
    }

    .submitBtn {
        width: 100px;
    }

    .register-form-container {
        padding: 0 0 0 25px !important;
    }

    .register .social-accounts-container {
        padding: 25px 25px 25px 0px !important;
    }

    /*#endregion*/
    /*#region doctors*/
    .doctors .panel-title__doctorAvatar {
        float: none;
    }

    /*#endregion*/
    .footer-block:first-of-type .footer-sub-block .menu-part {
        width: 19.999%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {

}

/*#region navbar*/
/*.smallHeader .nav .open > a,*/
/*.smallHeader .navbar > li.active > a,*/
/*.smallHeader .navbar > li > a:active,*/
/*.smallHeader .navbar > li > a:focus,*/
/*.smallHeader .navbar > li > a:hover {*/
    /*background-color: #6d6d6d !important;*/
/*}*/

/*#endregion*/
/*#region footer*/
.certificate-block {
    margin: 0;
}

.certs {
    width: 100%;
    padding: 0 !important;
}

/*#endregion*/
/*#region main/header slider*/
.header-slider .owl-nav {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    margin: 0 !important;
}

.slider .owl-dots {
    left: calc(50% - 40px);
    bottom: 0;
}

.header-slider .owl-prev, .header-slider .owl-next {
    position: absolute;
    top: 0;
    width: 10%;
    bottom: 0;
    margin: 0 !important;
}

.header-slider .owl-prev {
    right: 0;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2)) !important;
}

.header-slider .owl-next {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent) !important;
}

.header-slider .owl-prev i, .header-slider .owl-next i {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

/*#endregion*/
/*#region clinic program*/
.clinic-program .table > thead > tr > th {
    white-space: nowrap;
}

/*#endregion*/
/*#region news and articles*/
.new-articles .news-icon {
    margin-left: 5px;
}

.news-show.gallery .-hoverBox a {
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.news-show.gallery .-hoverBox a img {
    width: 20%;
}

.news-image {
    width: 100%;
}

/*#endregion*/
/*#region register*/
.register.forgotPassword .submitBtn {
    background: #e82d2d;
    width: 120px;
}

/*#endregion*/
.content-header__titles {
    margin-left: auto;
}

.pr-0 {
    padding-right: 0 !important;
}

.d-none {
    display: none;
}